/* Source for sliding panel: https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_slideright */

.profile {
    height: 400px;
    width: 50%
}

.container {
    position: relative;
    height: inherit;
}

.image {
    background-image: url(../allison_image.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
    height: 400px;
    width: 100%;
    
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: aqua;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
}

.container:hover .overlay {
    width: 100%;
    left: 0;
}

.text {
    white-space: nowrap;
    color: white;
    position: absolute;
    font-size: 20px;
    overflow: hidden;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

